<h1>Bienvenido</h1>

<% if admin_signed_in? %>
	<%= link_to "Salir", destroy_admin_session_path, method: :delete %>
<% end %>
<% if detective_signed_in? %>
	<%= link_to "Casos", detective_instances_path(current_detective.id) %></br>
	<%= link_to "Personas", guests_path %></br>
	<%= link_to "Salir", destroy_detective_session_path, method: :delete %>
<% end %>